html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
.navigation-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.navigation-links-left img{
  width: 150px;
}
.navigation-links-right{
  align-items: center;
}
.navigation-links-right ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  color: white;
}
.navigation-links-right ul{
  padding-left: 0;
}
.navigation-links-right ul li::after{
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background: #1967fd;
}
.navigation-links-right ul li:hover::after{
  width: 100%;
  transition: 1s;
  cursor: pointer;
}
.navigation-links-right ul li a{
  text-decoration: none;
  color: white;
}
nav .fa-solid{
  display: none;
}
.content{
  width: 80%;
  text-align: left;
  margin: auto;
  color: white;
}
.content h1, .calendar h1{
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}
.content h2{
  margin: 0;
}
.content p{
  font-size: 17px;
  width: 65%;
  margin-top: 8px;
  margin-bottom: 35px;
}
.button-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.fill-btn{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 34px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  word-spacing: 0px;
}
.fill-btn-2{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 12px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  word-spacing: 0px;
}
.fill-btn:hover, .fill-btn-2:hover{
  background:  rgb(22, 182, 102);
  border: 1px solid  rgb(22, 182, 102);
  transition: 1s ease-in-out;
}
.footer{
  text-align: center;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.footer-info{
  width: 100%;
  text-align: center;
  background: black;
  padding: 10px 0;
  color: white;
  font-size: 15px;
}
.footer i{
  color: black;
  font-size: 15px;
  padding-right: 20px;
}
.footer i:hover{
  color: rgb(22, 182, 102);
  transform: scale(2.0);
  transition: 0.5s ease;
  padding-left: 10px;
}
.about-team h3{
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  padding: 0;
}
.name{
  font-size: 27px;
  margin: 0;
}
.position{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.team-descr{
  margin: auto;
  text-align: center;
  width: 100%;
}
.info{
  font-size: 16px;
  line-height: 25px;
}
.About{
  width: 80%;
  text-align: center;
  margin: auto;
}
.About h2{
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.About p{
  font-size: 20px;
}
.about-section{
  width: 100%; 
  padding: 50px 0;
}
.services, .calendar{
  width: 80%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.services h1{
  margin: 0;
}
.services-desc{
  margin-bottom: 30px;
  margin-top: 10px;
  color: #777;
  font-size: 18px;
  font-weight: 300;
}
.services-column{
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 30px;
}
.column-1{
  flex-basis: 31%;
}
.column-1 img{
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
.column-1 h3{
  text-align: left;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 16px;
}
.column-1 p{
  text-align: left;
  color: #777;
  font-size: 18px;
  font-weight: 300;
  width: 90%;
}
.about-section .About h2 {
  color: black;
}
.aboutteam-section{
  width: 100%;
  background-color: white;
  margin-top: 100px;
}
.about-team{
  width: 80%;
  text-align: grid;
  margin: auto;
}
.team-member{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  width: 100%;
  padding: 40px 0;
}
.team-member p{
  text-align: left;
  width: 60%;
  padding: 0;
}
.team-member img{
  width: 60%;
  text-align: center;
  margin: auto;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}
#myBtn {
  display: none;
  position: fixed; 
  bottom: 5%; 
  right: 3%; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: black; 
  color: white;
  cursor: pointer;
  padding: 15px 18px;
  border-radius: 100px;
  font-size: 15px; 
}
#calendar {
  max-width: 100%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media(max-width: 980px){
  .header{
    width: 100%;
    height: 135vh;
  }
  .header img{
    padding-left: 10%;
  }
  .header p {
    padding-left: 20%;
  }
  .navigation-links-right ul li{
    display: block;
}
  .navigation-links-right{
    position: fixed;
    height: 100vh;
    background: rgba(10, 76, 254, 1);
    top: -100vh;
    right: 0;
    left: 0;
    text-align: left;
    transition: 1.25s;
  }
  nav .fa-solid{
    display: block;
    color: white;
    font-size: 20px;
    margin: 30px;
  }
  .navigation-links-right ul{
    padding: 30px;
    text-align: center;
    margin: 0;
  }
  .navigation-links-right ul li{
    padding: 30px 0;
  }
  .navigation-links-right ul li::after{
    display: none;
  }
  .content h1{
    font-size: 40px;
  }
  .content p{
    font-size: 17.5px;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .fill-btn{
    font-size: 12px;
    padding: 8px 12px;
  }
  .fill-btn-2{
    width: 100%;
    font-size: 12px;
    padding: 8px 12px;
  }
  .footer{
    margin-top: 30px;
  }
  .footer i:hover{
    color:  rgb(22, 182, 102);
    transform: none;
    padding-left: 0px;
  }
  .button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 25px;
  }
  .About h2{
    font-size: 40px;
  }
  .team-member{
    column-gap: 40px;
  }
  .team-member img{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  }
  .name{
    font-size: 20px;
  }
  .position{
    font-size: 11px;
    font-weight: 300;
  }
  .services-column{
    flex-direction: column;
  }
  #myBtn{
    right: 1%;
  }
  .team-member p{
    width: 100%;
    line-height: 16px;
  }
  #calendar{
    max-width: 100%;
    width: 100%;
    margin: 40px auto;
    padding: 0px;
    box-sizing: border-box;
  }
  
}

@media (max-width: 768px) {
  #calendar {
    max-width: 100%;
    margin: 20px auto;
  }

  /* Adjust toolbar layout for smaller screens */
  .fc-toolbar.fc-header-toolbar {
    flex-wrap: wrap;
  }

  .fc-toolbar.fc-header-toolbar .fc-left,
  .fc-toolbar.fc-header-toolbar .fc-right {
    width: 100%;
    text-align: center;
  }

  .fc-toolbar.fc-header-toolbar .fc-center {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
  }
  .calendar h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
}

/* Media query for mobile */
@media (max-width: 480px) {
  #calendar {
    margin: 5px;
    width: 100%;
    max-width: 100%;
  }

  .fc-toolbar.fc-header-toolbar {
    font-size: 8px;
  }
  .fc-toolbar-title{
    font-size: 10px;
  }
  .team-member img{
    height: 60%;
    }
}
@media(min-width: 1450px){
  .header{
    height: 110vh;
  }
  .content{
    margin-top: 80px;
  }
  .content h1{
    font-size: 75px;
    margin-bottom: 0;
  }
  .content p{
    font-size: 23px;
    width: 80%;
    margin-bottom: 40px;
  }
  .button-container{
    margin-top: 50px;
  }
  .fill-btn, .fill-btn-2{
    font-size: 20px;
  }
  .footer{
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .footer-info{
    font-size: 20px;
  }
  .footer i{
    font-size: 25px;
  }
  .footer i:hover{
    color: rgb(22, 182, 102);
    transform: scale(2.0);
    transition: 0.5s;
    padding-left: 10px;
  }
  #myBtn{
    font-size: 20px;
    padding: 26px 30px;
  }
  .info{
    font-size: 20px;
  }
}



  