* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 100%;
}

.header img {
  width: 270px;
  padding-left: 6%;
  padding-top: 2%;
}

.header p {
  width: 50%;
  padding-left: 6%;
  padding-bottom: 1%;
  color: rgb(153, 153, 153);
  margin: 0;
  font-size: 12px;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 35;
  background: rgba(3, 18, 39, 0.911);
  height: 25vh;
}

.section2 {
  display: flex;
  flex: 1;
  background: #5b7188;
  color: #5b7188;
  height: 25vh;
}

.section3 {
  display: flex;
  flex: 1.5;
  background: rgb(22, 182, 102);
  color: rgb(22, 182, 102);
  height: 25vh;
}

.mid-body-container {
  width: 90%;
  text-align: left;
  margin: auto;
  margin-top: 50px; 
}

.mid-body-container h1 {
  color: rgba(3, 18, 39, 0.911);
  display: inline-block;
}

.mid-body-container h1::after {
  content: '';
  display: block;
  height: 3px;
  background: rgb(22, 182, 102);
  width: 75%;
}

.mid-body-content {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 180px;
  row-gap: 30px;
}

.content-desc {
  color: grey;
  font-size: 15px;
  width: 70%;
  text-align: left;
}
.content-3{
  width: 74%;
}
.content-4 p {
  display: inline;
  
}
.content-4 input{
  width: 30%;
}
.content-2 input, .content-1 input,.content-4 input{
  border: none;
  border-bottom: 2px solid rgb(22, 182, 102);
  width: 60%;
  outline: none;
}
.content-1 input{
  text-align: center;
  font-weight: 500;
  color: rgba(3, 18, 39, 0.911);
  text-transform: uppercase;
}
.content-2 input{
  text-align: center;
}
.content-4 input{
  border: none;
  border-bottom: 2px solid rgb(22, 182, 102);
  width: 42%;
  outline: none;
  text-align: center;
}
.content-2 input:focus, .content-1 input:focus, .content-4 input:focus{
  border-bottom: 2px solid rgba(3, 18, 39, 0.911);
  transition: 0.5s;
}
.mid-body-content p {
  font-weight: 700;
  color: rgba(3, 18, 39, 0.911);
  margin-bottom: 9px;
}

.content-p {
  display: inline-block;

}

.form-header {
  display: flex;
  width: 100%;
  margin-top: 15px;
  height: 8vh;
}

.form-header-1 {
  display: flex;
  align-items: center;
  flex: 35;
  background: rgba(3, 18, 39, 0.911);
  color: rgb(22, 182, 102);
}

.form-header-1 h3 {
  margin-left: 6%;
  font-weight: 500;
}

.form-header-2 {
  flex: 1;
  background: #5b7188;
  color: #5b7188;
}

.form-header-3 {
  flex: 1.5;
  background: rgb(22, 182, 102);
  color: rgb(22, 182, 102);
}

.mid-body-content-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 180px;
  row-gap: 30px;
}

.mid-body-content-2 p, .upload{
  color: rgba(3, 18, 39, 0.911);
  font-weight: 700;
}

.incident-type {
  color: rgba(3, 18, 39, 0.911);
  font-size: 15px;
  width: 67%;
}
.incident-type h3{
  margin-bottom: 7px;
}
.incident-type-1{
  display: block;
  margin-bottom: 6px;
}
.incident-type label{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}
.mid-body-content-2 input[type="text"] {
  width: 70%;
  border: none;
  border-bottom: 2px solid rgb(22, 182, 102);
  color: rgba(3, 18, 39, 0.911);
  font-weight: 500;
}

.mid-body-content-2 input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid rgba(3, 18, 39, 0.911);
  transition: 0.5s;
}

.mid-body-content-2 input[type="date"]{
  width: 70%;
  border: none;
  border-bottom: 2px solid transparent;
  color: rgba(3, 18, 39, 0.911);
  font-weight: 500;
}

.mid-body-content-2 textarea {
  margin-top: 8px;
  resize: none;
  outline: none;
  border: 2px solid rgb(22, 182, 102);
  font-weight: 500;
  overflow: auto;
  text-indent: 5px;
  width: 70%;
}

.mid-body-content-2 textarea:focus {
  border: 2px solid rgba(3, 18, 39, 0.911);
  transition: 0.5s;
}

.submission {
  margin-bottom: 25px;
  margin-top: 25px;
}

.submission button {
  padding: 12px 30px;
  font-size: 15px;
  background: rgb(22, 182, 102);
  border: 2px solid rgba(3, 18, 39, 0.911);
  border-radius: 5px;
  color: rgba(3, 18, 39, 0.911);
  font-weight: 500;
  cursor: pointer;
}

.submission button:hover {
  background: rgba(3, 18, 39, 0.911);
  border: 2px solid rgb(22, 182, 102);
  color: rgb(22, 182, 102);
  transition: 0.5s;
}

.selector {
  width: 100%;
}

#selectField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70%;
  padding: 15px 20px;
  margin-bottom: 30px;
  margin-top: 25px;
  box-sizing: border-box;
  background: rgb(22, 182, 102);
  border-radius: 6px;
  border: 2px solid rgb(22, 182, 102);
}

#selectField:hover {
  border: 2px solid rgba(3, 18, 39, 0.911);
  transition: 0.25s;
}

#selectField i {
  width: 12px;
  transition: transform 0.5s;
}

#list {
  width: 70%;
  cursor: pointer;
  background-color: rgb(22, 182, 102);
  border-radius: 6px;
  overflow: hidden;
  
}
.options{
  width: 100%;
  padding: 10px;
  list-style: none;
}

.options:hover {
  background: rgba(255, 255, 255, 0.7);
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
.form-content-5 input, .form-content-6 input{
  outline: none;
}
input[type="file"]{
  padding: 5px;
  font-size: 13.5px;
  background: rgb(22, 182, 102);
  border: 2px solid rgba(3, 18, 39, 0.911);
  border-radius: 5px;
  color: rgba(3, 18, 39, 0.911);
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}
.form-content-9{
  margin-bottom: 20px;
}
.footer-info{
  width: 100%;
  text-align: center;
  background: black;
  padding: 10px 0;
  color: white;
  font-size: 15px;
}
@media (max-width: 800px) {
  .mid-body-content {
    display: flex;
    flex-direction: column;
  }

  .header img {
    width: 250px;
    padding-top: 4%;
  }

  .mid-body-content-2{
    display: flex;
    flex-direction: column;
  }

  form textarea {
    width: 90%;
  }

  #selectField {
    width: 90%;
  }

  #list {
    width: 90%;
  }

  .options {
    width: 100%;
  }
  .mid-body-content-2 input[type="date"]{
    width: 90%;
  }
  .mid-body-content-2 input[type="text"]{
    width: 90%;
  }
  .content-2 input{
    width: 75%;
  }
  .content-1 input{
    width: 73%;
  }
  .content-4 input{
    width: 48%;
  }
}

@media (min-width: 1450px) {
  .header img {
    width: 350px;
  }

  .header p {
    font-size: 20px;
  }
  .content-1 input{
    text-align: center;
  }
  .content-2 input{
    width: 64.6%;
    text-align: center;
  }
  .content-4 input{
    width: 51%;
    text-align: center;
  }
  .footer-info{
    font-size: 20px;
  }
}