body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: url('images/form.jpg') no-repeat center center fixed;
  background-size: cover;
  flex-direction: column;
}
.navbar {
  width: 100%;
  background-color: #fcfcfc;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  z-index: 100;
}
.navbar-holder{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  height: 100%;
}
.navbar-holder img {
  height: 70px;
}
.requisitionForm {
  display: flex;
  width: 70%;
  gap: 40px;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.requisitionForm a{
  color: white;
  text-decoration: none;
}
.purchase-requisition-btn, .other-requisition-btn {
  padding: 20px;
  background-color: #497099;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
@media(max-width: 800px){
  .purchase-requisition-btn, .other-requisition-btn{
    font-size: 13.4px;
    padding: 10px;
  }
  .requisitionForm{
    flex-direction: column;
    gap: 40px;
    width: 60%;
  }
}
@media(min-width: 1450px){
  .requisitionForm{
    width: 75%;
  }
  .purchase-requisition-btn, .other-requisition-btn {
    font-size: 36px;
  }
}