{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICEL Employee Portal - Forgot Password</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="icon" href="{% static 'images/oil-well-solid.svg' %}">
</head>
<body>
  <div class="forgot-body">
    <div class="forgot-content">
      <div class="forgot-content1">
        <h1>Forgot Password?</h1>
      </div>
      <div class="forgot-content2">
        <p>No worries, we'll send you reset instructions.</p>
      </div>
      <form method="POST" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="forgot-content3">
          <div class="content1">
            <p>Email</p>
          </div>
          <div class="content2">
            <input type="email" name="email" placeholder="e.g. itsupport@imperialcrestenergy.com" required>
          </div>
          <div class="content3">
            <button type="submit">Reset Password</button>
          </div>
          <div class="content4">
            <p>Go back to the <b><a href="{% url 'index' %}">Login</a></b> page</p>
          </div>
          <div class="content5">
            <p>Imperial Crest Energy Limited &#169 2024. All Rights Reserved.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'js/forgot-password.js' %}"></script>
</body>
</html>
