{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICEL Employee Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="icon" href="{% static 'images/oil-well-solid.svg' %}">
</head>
<body>
  <style>
    /* Style the success messages to appear in green */
.messages .success {
    color: green;         /* Change text color to green */
    font-weight: bold;    /* Optional: Make the text bold */
    padding: 10px;        /* Optional: Add some padding for visibility */
    margin-top: 10px;     /* Space between the message and other elements */
}
ul.messages{
  padding-left: 0;
  width: 100%;
}
.error{
  border: 0px;
}
  </style>
  <div class="header">
    <img width="200px" src="{% static 'images/imperial-crest-logo.png' %}">
  </div>
  <div class="container">
    <div class="left-content">
      <div class="left-content-carrier">
        <div>
          <img src="{% static 'images/concept-of-remote-team.png' %}">
        </div>
        <div>
          <h3>Information transmission just got <br> easier for Imperial Crest employees and managers!</h3>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="right-content-carrier">
        <h1>Log In</h1>
        <div class="user">
          <img width="150px" src="{% static 'images/imperial-crest-logo.png' %}">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <div class="{% if message.tags %}{{ message.tags }}{% endif %} error-message">{{ message }}</div>
              {% endfor %}
          </ul>
          {% endif %}          
        <form method="POST" action="{% url 'index' %}">
          {% csrf_token %}
            {{form.as_p}}
          <div class="input-box">
            <i class="fa-solid fa-user" style="color: #16b666;"></i>
            <input id="username" class="username" type="text" name="username" placeholder="Enter your username..." required>
          </div>
          <div class="input-box-2">
            <i class="padlock fa-solid fa-lock" style="color: #16b666;"></i>
            <input id="password" class="password" type="password" name="password" placeholder="Password" required>
            <i id="eyeicon" class="fa-regular fa-eye" style="color: #16b666;" onclick="togglePassword()"></i>
          </div>
          <div class="call-to-action">
            <div>
              <input type="checkbox">
              <span class="checkbox">Keep me signed in</span>
            </div>
            <div>
              <span class="forgot-password"><a href="{% url 'forgot_password' %}">Forgot password?</a></span>
            </div>
          </div>
          <button class="log-in-btn" type="submit">Log In</button>
          <p class="account">Don't have an account? <a class="sign-up-link" href="{% url 'signup' %}"><b>Sign up</b></a> here</p>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
